<div class="side-sub-bar gap-6px" style="flex-direction: row !important; justify-content: space-between;">
    <div class="text-display-box justify-flex-start flex-1" id="back-side-bar" role="button">
        <img class="image-invert" style="transform: rotate(90deg);" src="../../icons/dropdown-icon.png" height="20px" width="20px" aria-labelledby="back-text">
        <span id="back-text">Back</span>
    </div>
    <div class="text-display-box justify-flex-end flex-1" id="close-side-bar" role="button">
        <img class="image-invert" src="../../icons/cross-icon.png" height="24px" width="24px" aria-labelledby="close-text">
        <span id="close-text">Close</span>
    </div>
</div>

<hr>

<div class="side-sub-bar justify-flex-start text-primary">

    <div class="display-flex flex-row gap-8px" aria-label="Stop name">
        <div class="display-flex justify-flex-start align-center gap-8px flex-1">
            <img src="" height="34px" width="34px" id="stop-instance-type-img">
            <div class="display-flex flex-column" id="stop-instance-header">
                <div class="text-20px text-primary text-medium" id="stop-instance-title">Loading</div>
            </div>
        </div>
        <div class="display-flex justify-flex-end align-center flex-0">
            <div class="text-16px text-secondary text-normal nowrap" id="stop-instance-stop_id">Loading</div>
        </div>
    </div>

</div>

<hr>

<div class="side-sub-bar justify-flex-start gap-8px" id="stop-instance-content">
    <article class="side-bar-content" aria-label="Stop Informaion" aria-labelledby="stop-information-title">
        <div class="text-primary text-bold text-18px table-title" id="stop-information-title">Stop Information</div>
        <table id="stop-information-table"></table>
    </article>
</div>